body{
   background-color: silver;
   font-family: Verdana, sans-serif;
}
.pa{
  color:rgb(0, 0, 0);
font-size: 4mm;
 width: 10%;
margin-top:50px;
margin-bottom: -35px;
margin-left:115px;
} 
.pan{
  margin-left:30px;
  margin-top:-90px;
  height:80px; 
  width:80px;
}
nav{
  margin-top:-120px;
  margin-left:185px;
  text-shadow: 0 0 1px black;
}
.u{
text-align:center;
height:30mm;
padding-left:0px;
}
.l{
color: rgb(0, 0, 0);
list-style:none;
  margin:40px 20px;
  display:inline-block;
font-size: 5mm  ;

}

/*About us*/
.about2  {
color:rgb(0, 0, 0);
margin-right: 13px;
padding: 2px;
border: none;
font-size:5mm;
}

.about1{
position: relative;
display: inline-block;
}

.about3{
display: none;
position: absolute;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index:1;
}

.about3 a{
color: rgb(0, 0, 0);
padding: 12px 16px;
text-decoration: none;
display: block;
}
.arrow {
border: solid black;
border-width: 0 2px 2px 0;
display: inline-block;
margin-bottom: 2px;
padding: 3px;
}
.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
.about3 a:hover {background-color: rgb(189, 179, 179);}

.about1:hover .about3 {display: block;}


a:link{
text-decoration:none;
color:rgb(0, 0, 0);
}
a:hover{
color: rgb(80, 0, 0);
}
a:visited{
color: black;
}
ul{
    
  list-style-type: none;
}
li{
    display: inline-block;
}

.a1{
  margin-top: 120px;
    height: 300px;
    width: 100%;
    opacity:0.9;
    background-size: auto;
    filter: brightness(90%);
    margin-bottom: 150px;
}

.h{
    color: rgb(0, 0, 0);
    font-size: 90px;
    font-family: "Prometo Regular";
    position: absolute;
    top:68%;
    left: 58%;
    
}
table,td{
    border:2px solid black;
    box-shadow: 5px 5px 5px grey;
}
 
.t1{
    
    margin-top:-100px ;
    margin-bottom:20px;
    width: 30%;
}
.t2{
    margin-top: -200px;
    margin-left:430px;
    width: 30%;
}
.t3{
    margin-top: -180px;
    margin-left: 870px;

}
.t4{
    width:30%;
}
.p1{
    margin-top: -150px;
    background-color: lightskyblue;
    margin-left: 500px;
    width: 18%;
    font-size: 30px;
    box-shadow: 10px 10px 5px grey;
}
fieldset{
    border:0;
    background-color:lightgrey;
    box-shadow: 10px 10px 5px grey;
  }
  .cl{
    float: left;
  width:150px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  #aboutus li{
    border-bottom: 0px;
    height:10px ;
  }
  #contact li{
    border-bottom: 0px;
    height: 10px;
  }
  #sec section{
    text-align: center;
  }
  #sp{
    padding:20px;
    padding-right: 50px;
    padding-left: 60px;
  }
  #yname{
    padding:20px;
  }
  #ynum{
    padding:20px ;
  }
  #sub{
    padding: 20px;
    padding-right: 80px;
    padding-left: 83px;
    margin-left: 5px;
  }
 